html,
body,
h1,
h2,
h3,
p {
  font-family: "Inter", sans-serif;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  

}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  max-width: 600px;
  gap: 20px;
  border-radius: 20px;
}

.add-todo-header {
  align-self: center;
  font-size: 3rem;
  letter-spacing: 5px;
  color: #2C5364;
}

.add-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  
}

.add-todo-input {
  height: 50px;
  width: 540px;
  border-style: solid;
  border-width: 1px;
  border: none;
  padding-left: 10px;
}

.add-todo-button {
  height: 50px;
  width: 60px;
  background-color: #2C5364;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  

}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: White;
  padding: 20px;
}

.todo-item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-checkbox {
  appearance: none;
  -webkit-appearance: none;
  height: 25px;
  width: 25px;
  background-color:#b6b6b6;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  
}

.todo-label {
  font-size: 1rem;
  cursor: pointer;
  padding-left: 10px;
}

.todo-checkbox:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  font-size: 15px;
  color: white;
  display: none;
}

.todo-checkbox:checked {
  background-color: #2C5364;
}

.todo-checkbox:checked:after {
  display: block;
}

.fa-trash-can {
  color: #2C5364;
  font-size: 18px;
  cursor: pointer;
}

.pending-todo {
  display: flex;
  justify-content: space-between;
}

.author {
  margin-top: 50px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #b8b7b7;
}


